@model AttendanceTracker.Data.Entity.Employee

@{
    var isEdit = ViewData["FormMode"]?.ToString() == "Edit";
    var isDelete = ViewData["FormMode"]?.ToString() == "Delete";
    var title = isEdit ? "Edit Employee" : isDelete ? "Delete Employee" : "Create Employee";
}

<h1>@title</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        @if (!isDelete)
        {
            <form asp-action="@ViewData["FormMode"]">
                @if (isEdit)
                {
                    <input type="hidden" asp-for="Code" />
                }

                <partial name="_EmployeeFormFields" model="Model" />

                <br />
                <div class="form-group">
                    <input type="submit" value="@title" class="btn btn-primary" />
                </div>
            </form>
        }
        else
        {
            <h3>Are you sure you want to delete this?</h3>
            <dl class="row">
                <dt class="col-sm-3">Employee Code</dt>
                <dd class="col-sm-9">@Model.Code</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Code" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}